
body {
  margin: 0;
  background: #6563FF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: fantasy;
  flex-direction: column;
  position: relative;
}
.wrapper {
  background: #C4C4C4;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cards {
  display: grid;
  gap: 10px; 
  padding: 0;
  margin-top: 20px;
  list-style: none;
}


.cards.grid-normal {
  grid-template-columns: repeat(4, 1fr);
  width: 350px; 
}


.cards.grid-hard {
  grid-template-columns: repeat(8, 1fr);
  width: 700px;
}

.card {
  background: #fff;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  height: 80px; 
  perspective: 1000px; 
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background: #fff;
  border-radius: 10px;
}

.bakc-view {
  transform: rotateY(-180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

.player-info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 800px;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

.player {
  background: #c01e1e;
  padding: 10px 20px;
  border-radius: 5px;
  border: solid 2px #000;
}

#score1,
#score2 {
  font-size: 1.5em;
  margin-top: 5px;
  text-align: center;
}

.current {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.Winner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: linear-gradient(#ff6ec4, #7873f5, #fef08a);
  color: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', sans-serif;
  width: 500px;
  height: 200px;
  text-align: center;


}

.show {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.input_names {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 100;
}

.input_content {
  background: red;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#startBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #6563FF;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

#player1,
#player2 {
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

#startBtn:hover {
  background: #514ed9;
}

#Levels {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: #91dd17;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
